@charset "UTF-8";
@font-face {
    src: url("../_font/onepiecefont.ttf");
    font-family: 'onepiece';
}
@font-face {
    src: url("_font/TTRoundsNeue-CondRegular.ttf");
    font-family: 'tt';
}
/*Fundo*/
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw; /*D6E4E5*/
    background: linear-gradient(70deg, #EFF5F5, #282A3A, #497174, #EB6440);
    background-size: 300% 300%;
    animation: colors 20s ease infinite;
}
@keyframes colors {
    0%{
    background-position: 0% 50%;
}
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

div#inter{
    background-color: #fffec7;
    height: 1300px;
    width: 1000px;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}
div#inter h1{
    text-align: center;
    margin-top: 350px;
}
/*Borda*/
header#cabecalho{
    border-bottom: 1px #606060 solid;
    height: 80px;
}
/*Titulos*/
header#cabecalho h1{
    font-family: 'onepiece', sans-serif;
    font-size: 30pt;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding: 0px;
    margin-bottom: 0px;
}
/*Imagem canto*/
figure.logo img{
    max-width: 300px;
    max-height: 250px;
    width: auto;
    height: auto;
    position: absolute;
    left: 800px;
    top: 5px;
}
figure.luffy img{
    max-width: 700px;
    max-height: 650px;
    width: auto;
    height: auto;
    position: absolute;
    left: 2000px;
    top: 300px;
}
/*Texto/*/
section#corpo{
    display: block;
    width: 980px;
    float: left;
    padding-right: 15px;
}
/*Paragrafo*/
p{
    font-family: 'tt', sans-serif;
    font-size: 18px;
    text-align: justify;
    text-indent: 25px;
}

nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: 20px;
    left: 1520px;
}

nav#menu li{
    display: inline-block;
    background-color: #d3d3d3;
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}
nav#menu li:hover{
    background-color: #919167;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover{
    color: #ffffff;
}

footer#rodape{
    border-top: 1px solid #606060;
    clear: both;
}

footer#rodape p{
    text-align: center;
}

/*.color1 {color: #f1cb70;}
.color2 {color: #dddd9a;}
.color3 {color: #120962;}
.color4 {color: #154d99;}
.color5 {color: #abb3e1;}*/